.root {
	-fx-background-color: #2C2F33;
}

.label{
	-fx-font-size:12;
	-fx-font-family: "Uni Sans";
	-fx-alignment: center;
	-fx-text-fill: #ffffff;
} 

.text-field{
	-fx-font-family: "Uni Sans";
	-fx-background-color: #40444b;
	-fx-text-fill: #ffffff;
	-fx-prompt-text-fill: #687275;
}


.button{
	-fx-font-family: "Uni Sans";
	-fx-background-color:#7289da;
	-fx-text-fill: #ffffff;
}
.button:hover {
	-fx-font-family: "Uni Sans";
	-fx-background-color: #4752c4;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-font-family: "Uni Sans";
    -fx-background-color: #4752c4;
    -fx-text-fill: #ffffff;
}

.list-cell:even { 
	-fx-font-family: "Uni Sans";
    -fx-background-color: #36393f;
    -fx-text-fill: #ffffff;
}
.list-cell:odd { 
	-fx-font-family: "Uni Sans";
    -fx-background-color: #36393f;
    -fx-text-fill: #ffffff;
}

.list-cell:filled:hover {
	-fx-font-family: "Uni Sans";
    -fx-background-color: #32353b;
    -fx-text-fill: #ffffff;
}

.choice-box{
	-fx-background-color: #40444b;
	-fx-background-fills: #ffffff;
}

.context-menu{
	-fx-background-color: #18191c;
	-fx-text-fill: #a3a4a8;
	
}

#titleLabel{
	-fx-font-size:20;
}
