.root {
    -fx-background-color: #e3e5e8;
}

#settingsAnchorPane {
    -fx-background-color: #e3e5e8;
}

.label {
    -fx-font-size: 12;
    -fx-font-family: "Uni Sans";
    -fx-alignment: center;
    -fx-text-fill: #06395c;
}

.text-field {
    -fx-font-family: "Uni Sans";
    -fx-background-color: #ebedef;
    -fx-text-fill: #3e4348;
    -fx-prompt-text-fill: #656d78;
}


.button {
    -fx-font-family: "Uni Sans";
    -fx-background-color: #5865f2;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-font-family: "Uni Sans";
    -fx-background-color: #4752c4;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-font-family: "Uni Sans";
    -fx-background-color: #5865f2;
    -fx-text-fill: #ffffff;
}

.list-cell:even {
    -fx-font-family: "Uni Sans";
    -fx-background-color: #ebedef;
    -fx-text-fill: #424448;
}

.list-cell:odd {
    -fx-font-family: "Uni Sans";
    -fx-background-color: #ebedef;
    -fx-text-fill: #424448;
}

.list-cell:filled:hover {
    -fx-font-family: "Uni Sans";
    -fx-background-color: #f2f3f5;
    -fx-text-fill: #424448;
}

.radio-button {
    -fx-font-family: "Uni Sans";
    -fx-text-fill: #06395c;
}

.choice-box {
    -fx-background-color: #ebedef;
    -fx-background-fills: #3e4348;
}


#titleLabel {
    -fx-font-size: 20;
}
