.root {
	-fx-background-color: #D8E2DC;
}

.label{
	-fx-font-size:12;
	-fx-font-family: "Uni Sans";
	-fx-alignment: center;
	-fx-text-fill: #06395c;
} 

.text-field{
	-fx-font-family: "Uni Sans";
	-fx-background-color: #c4d4ca;
	-fx-text-fill: #3e4348;
	-fx-prompt-text-fill:#b6c9bd;
}


.button{
	-fx-font-family: "Uni Sans";
	-fx-background-color: #e6ffff;	
	-fx-text-fill:  #000d1a;
}
.button:hover {
	-fx-font-family: "Uni Sans";
	-fx-background-color: #ccffff;
	-fx-text-fill:  #000d1a;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-font-family: "Uni Sans";
    -fx-background-color: #577563;
    -fx-text-fill: #ffffff;
}

.list-cell:even { 
	-fx-font-family: "Uni Sans";
    -fx-background-color: #c4d4ca;
    -fx-text-fill: #424448;
}
.list-cell:odd { 
	-fx-font-family: "Uni Sans";
    -fx-background-color: #c4d4ca;
    -fx-text-fill: #424448;
}

.list-cell:filled:hover {
	-fx-font-family: "Uni Sans";
    -fx-background-color: #b6c9bd;
    -fx-text-fill: #424448;
}

.radio-button {
	-fx-font-family: "Uni Sans";
    -fx-text-fill: #06395c;
}

.choice-box{
	-fx-background-color: #FFFFFF;
	-fx-background-fills: #3e4348;
}


#titleLabel{
	-fx-font-size:20;
}
